@font-face {
  font-family: 'Segoe UI';
  src: url('SegoeUI.eot');
  src: local('Segoe UI'), local('SegoeUI'),
      url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SegoeUI.woff2') format('woff2'),
      url('../fonts/SegoeUI.woff') format('woff'),
      url('../fonts/SegoeUI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'airport';
  src: url('../fonts/airport.eot');
  src: url('../fonts/airport.eot?#iefix') format('embedded-opentype'),
        url('../fonts/airport.woff') format('woff'),
        url('../fonts/airport.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background-color: #eee;
}

.main {
  padding: 0 20px;
}

.card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 545px;
  margin: 40px auto 0;
  padding: 28px 50px;
  border-radius: 4px;
  background-color: white;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
     -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
}

.card__title {
  margin: 0;
  font-family: airport, arial, sans-serif;
  font-size: 34px;
  letter-spacing: 0.01em;
  text-transform: lowercase;
  color: #555;
}

.card__title + .card__content {
  margin-top: 13px;
}

.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  letter-spacing: 0;
}

.card__img-wrapper {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.card__img {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.card__img-wrapper + .card__text-wrapper {
  margin-left: 17px;
}

.card__heading {
  color: #999;
  margin-top: -3px;
}

.card__date {
  font-style: italic;
}

.card__heading + .card__text {
  margin-top: 5px;
}

.card__text {
  max-height: 112px;
  letter-spacing: 0.03em;
  font-size: 13px;
  overflow: hidden;
}

.card__paragraph + .card__paragraph{
  margin-top: 5px;
}

.card__paragraph {
  margin: 0;
}

.card__read-more {
  display: block;
  margin-top: 9px;
}

.link {
  color: #1377b2;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .card {
    padding: 20px 30px;
  }
}

@media screen and (max-width: 424px) {
  .card__img {
    width: 100%;
  }
  .card__content {
    display: block;
  }

  .card__img-wrapper + .card__text-wrapper {
    margin-left: 0;
    margin-top: 17px;
  }
}

/* Стили для readmore-js */
.readmore-js-toggle, .readmore-js-section {
  display: block;
  width: 100%;
}
.readmore-js-section {
  overflow: hidden;
}


/* Стили для object-fit-polyfill */
x-object-fit {
	position: relative !important;
	display: inline-block !important;
}

x-object-fit > .x-object-fit-taller,
x-object-fit > .x-object-fit-wider {
	position: absolute !important;
	left: -100% !important;
	right: -100% !important;
	top: -100% !important;
	bottom: -100% !important;
	margin: auto !important;
}

.x-object-fit-none > .x-object-fit-taller,
.x-object-fit-none > .x-object-fit-wider {
	width: auto !important;
	height: auto !important;
}

.x-object-fit-fill > .x-object-fit-taller,
.x-object-fit-fill > .x-object-fit-wider {
	width: 100% !important;
	height: 100% !important;
}

.x-object-fit-contain > .x-object-fit-taller {
	width: auto !important;
	height: 100% !important;
}

.x-object-fit-contain > .x-object-fit-wider {
	width: 100% !important;
	height: auto !important;
}

.x-object-fit-cover > .x-object-fit-taller,
.x-object-fit-cover > .x-object-fit-wider {
	max-width: none !important;
	max-height: none !important;
}

.x-object-fit-cover > .x-object-fit-taller {
	width: 100% !important;
	height: auto !important;
	max-width: none !important;
}

.x-object-fit-cover > .x-object-fit-wider {
	width: auto !important;
	height: 100% !important;
	max-width: none !important;
}

.x-object-position-top > .x-object-fit-taller,
.x-object-position-top > .x-object-fit-wider {
	top: 0 !important;
	bottom: auto !important;
}

.x-object-position-right > .x-object-fit-taller,
.x-object-position-right > .x-object-fit-wider {
	left: auto !important;
	right: 0 !important;
}

.x-object-position-bottom > .x-object-fit-taller,
.x-object-position-bottom > .x-object-fit-wider {
	top: auto !important;
	bottom: 0 !important;
}

.x-object-position-left > .x-object-fit-taller,
.x-object-position-left > .x-object-fit-wider {
	left: 0 !important;
	right: auto !important;
}